# osx
.DS_Store

# intellij
.idea
local.properties
*.iml
*.hprof
.cxx/

# node.js
node_modules/
npm-debug.log

# docs
docs/docs.json
docs/src/input.json
docs/src/playground.json
docs/src/examples.json
docs/src/assets/playground-build/
docs/src/assets/examples-build/

# showcases
src/showcases/env/index.js
src/showcases/web-build/

.expo
dist

*.ipa
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# nitro
.nitro/
.output/

# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore
apps/expo/ios
apps/expo/android

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
dist/
.cache

# turbo
.turbo

#yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions