@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #f2f6ff;
  --primary-200: #d9e4ff;
  --primary-300: #a6c1ff;
  --primary-400: #598bff;
  --primary-500: #3366ff;
  --primary-600: #274bdb;
  --primary-700: #1a34b8;
  --primary-800: #102694;
  --primary-900: #091c7a;
  --primary-transparent-100: rgba(51, 102, 255, 0.08);
  --primary-transparent-200: rgba(51, 102, 255, 0.16);
  --primary-transparent-300: rgba(51, 102, 255, 0.24);
  --primary-transparent-400: rgba(51, 102, 255, 0.32);
  --primary-transparent-500: rgba(51, 102, 255, 0.4);
  --primary-transparent-600: rgba(51, 102, 255, 0.48);
  --primary-DEFAULT: #3366ff;
  --primary-default: #3366ff;
  --primary-hover: #598bff;
  --primary-focus: #274bdb;
  --primary-active: #274bdb;
  --primary-disabled: rgba(143, 155, 179, 0.24);
  --primary-text-default: #3366ff;
  --primary-text-focus: #274bdb;
  --primary-text-hover: #598bff;
  --primary-text-active: #274bdb;
  --primary-text-disabled: #598bff;
  --success-100: #edfff3;
  --success-200: #b3ffd6;
  --success-300: #8cfac7;
  --success-400: #51f0b0;
  --success-500: #00e096;
  --success-600: #00b383;
  --success-700: #008f72;
  --success-800: #007566;
  --success-900: #00524c;
  --success-transparent-100: rgba(0, 224, 150, 0.08);
  --success-transparent-200: rgba(0, 224, 150, 0.16);
  --success-transparent-300: rgba(0, 224, 150, 0.24);
  --success-transparent-400: rgba(0, 224, 150, 0.32);
  --success-transparent-500: rgba(0, 224, 150, 0.4);
  --success-transparent-600: rgba(0, 224, 150, 0.48);
  --success-DEFAULT: #00e096;
  --success-default: #00e096;
  --success-hover: #51f0b0;
  --success-focus: #00b383;
  --success-active: #00b383;
  --success-disabled: rgba(143, 155, 179, 0.24);
  --success-text-default: #00e096;
  --success-text-focus: #00b383;
  --success-text-hover: #51f0b0;
  --success-text-active: #00b383;
  --success-text-disabled: #51f0b0;
  --info-100: #f2f8ff;
  --info-200: #c7e2ff;
  --info-300: #94cbff;
  --info-400: #42aaff;
  --info-500: #0095ff;
  --info-600: #006fd6;
  --info-700: #0057c2;
  --info-800: #0041a8;
  --info-900: #002885;
  --info-transparent-100: rgba(0, 149, 255, 0.08);
  --info-transparent-200: rgba(0, 149, 255, 0.16);
  --info-transparent-300: rgba(0, 149, 255, 0.24);
  --info-transparent-400: rgba(0, 149, 255, 0.32);
  --info-transparent-500: rgba(0, 149, 255, 0.4);
  --info-transparent-600: rgba(0, 149, 255, 0.48);
  --info-DEFAULT: #0095ff;
  --info-default: #0095ff;
  --info-hover: #42aaff;
  --info-focus: #006fd6;
  --info-active: #006fd6;
  --info-disabled: rgba(143, 155, 179, 0.24);
  --info-text-default: #0095ff;
  --info-text-focus: #006fd6;
  --info-text-hover: #42aaff;
  --info-text-active: #006fd6;
  --info-text-disabled: #42aaff;
  --warning-100: #fffdf2;
  --warning-200: #fff1c2;
  --warning-300: #ffe59e;
  --warning-400: #ffc94d;
  --warning-500: #ffaa00;
  --warning-600: #db8b00;
  --warning-700: #b86e00;
  --warning-800: #945400;
  --warning-900: #703c00;
  --warning-transparent-100: rgba(255, 170, 0, 0.08);
  --warning-transparent-200: rgba(255, 170, 0, 0.16);
  --warning-transparent-300: rgba(255, 170, 0, 0.24);
  --warning-transparent-400: rgba(255, 170, 0, 0.32);
  --warning-transparent-500: rgba(255, 170, 0, 0.4);
  --warning-transparent-600: rgba(255, 170, 0, 0.48);
  --warning-DEFAULT: #ffaa00;
  --warning-default: #ffaa00;
  --warning-hover: #ffc94d;
  --warning-focus: #db8b00;
  --warning-active: #db8b00;
  --warning-disabled: rgba(143, 155, 179, 0.24);
  --warning-text-default: #ffaa00;
  --warning-text-focus: #db8b00;
  --warning-text-hover: #ffc94d;
  --warning-text-active: #db8b00;
  --warning-text-disabled: #ffc94d;
  --danger-100: #fff2f2;
  --danger-200: #ffd6d9;
  --danger-300: #ffa8b4;
  --danger-400: #ff708d;
  --danger-500: #ff3d71;
  --danger-600: #db2c66;
  --danger-700: #b81d5b;
  --danger-800: #94124e;
  --danger-900: #700940;
  --danger-transparent-100: rgba(255, 61, 113, 0.08);
  --danger-transparent-200: rgba(255, 61, 113, 0.16);
  --danger-transparent-300: rgba(255, 61, 113, 0.24);
  --danger-transparent-400: rgba(255, 61, 113, 0.32);
  --danger-transparent-500: rgba(255, 61, 113, 0.4);
  --danger-transparent-600: rgba(255, 61, 113, 0.48);
  --danger-DEFAULT: #ff3d71;
  --danger-default: #ff3d71;
  --danger-hover: #ff708d;
  --danger-focus: #db2c66;
  --danger-active: #db2c66;
  --danger-disabled: rgba(143, 155, 179, 0.24);
  --danger-text-default: #ff3d71;
  --danger-text-focus: #db2c66;
  --danger-text-hover: #ff708d;
  --danger-text-active: #db2c66;
  --danger-text-disabled: #ff708d;
  --basic-100: #ffffff;
  --basic-200: #f7f9fc;
  --basic-300: #edf1f7;
  --basic-400: #e4e9f2;
  --basic-500: #c5cee0;
  --basic-600: #8f9bb3;
  --basic-700: #2e3a59;
  --basic-800: #222b45;
  --basic-900: #1a2138;
  --basic-1000: #151a30;
  --basic-1100: #101426;
  --basic-transparent-100: rgba(143, 155, 179, 0.08);
  --basic-transparent-200: rgba(143, 155, 179, 0.16);
  --basic-transparent-300: rgba(143, 155, 179, 0.24);
  --basic-transparent-400: rgba(143, 155, 179, 0.32);
  --basic-transparent-500: rgba(143, 155, 179, 0.4);
  --basic-transparent-600: rgba(143, 155, 179, 0.48);
  --basic-DEFAULT: #c5cee0;
  --basic-default: #edf1f7;
  --basic-hover: #f7f9fc;
  --basic-focus: #e4e9f2;
  --basic-active: #e4e9f2;
  --basic-disabled: rgba(143, 155, 179, 0.24);
  --basic-text-default: #222b45;
  --control-default: #ffffff;
  --control-hover: #f7f9fc;
  --control-focus: #edf1f7;
  --control-active: #edf1f7;
  --control-disabled: rgba(143, 155, 179, 0.24);
  --control-text-default: #ffffff;
}
